p {
color : #164730;
}
nav ul {
	font-size : 20px;
	list-style-type : none;
	margin = 0;
	padding = 5px;
	width = 150px;
	background-color: #478194;
	position : fixed;

nav ul li a {
	display: block;
	text-decoration : none;
	color : #000;
	padding-top : 8px;
	padding-bottom : 5px;
	padding-left : 1px
	text-align: center;
}
}
body {
	font-size : 14px;
	color :#311945 ;
	font-family:  'Gloria Hallelujah', cursive;
}
.centerMe{
	display :block;
	margin-left : auto;
	margin-right:auto;
}
#mainContent {
	margin-left : 150px;
	padding-left : 25px;
	margin-right:75px;
}
h1{
	font-size: 350%;
	font-family:  'Gloria Hallelujah', cursive;
	text-align :center;
	border-style : double;
	border-width : 4px;
	margin-left : 20%;
	margin-right : 20%;
	padding-top:5%;
	padding-bottom : 5%;
}
