p {
color : blue;
}
nav ul {
	list-style-type : none;
	margin = 0;
	padding = 0;
	width = 150px;
	position : fixed;

nav ul li a {
	display: block;
	text-decoration : none;
	color : #000;
	padding-top : 8px;
	padding-bottom : 8px;
	padding-left : 16px
}
}
body {
	font-size : 14px;
	color : purple;
	font-family:  'Gloria Hallelujah', cursive;
}
.centerMe{
	display :block;
	margin-left : auto;
	margin-right:auto;
}
#mainContent {
	margin-left : 150px;
	padding-left : 25px;
	margin-right:75px;
}
h1{
	background-image:url('../header.jpe');
	font-family:  'Gloria Hallelujah', cursive;
	text-align :center;
	border-style : double;
	border-width : 4px;
	margin-left : 20%;
	margin-right : 20%;
	padding-top:5%;
	padding-bottom : 5%;
}
